@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap');

.containerCreateBooks {
  width: 90%;
  height: 100px;
  margin: 80px auto;
  padding: 20px 0;
}

form {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 12px;
  border: none;
}

input {
  width: 25%;
  height: 40px;
}

.btn {
  width: 20%;
  height: 40px;
  background-color: aqua;
}

.select {
  width: 20%;
  height: 40px;
}
